[2016-12-03 22:38] heiba opened #1 "Socket .connect function is hard coded to connect to ws://localhost:8000/socketcluster/"
Hello,

In your Socket.class, line 347, you have hard coded the class to connect to ws://localhost:8000/socketcluster/ and you're totally ignoring the url which is input in the Socket constructor new Socket(url).

`public void connect() { try {
this.ws = this.factory.createSocket("ws://localhost:8000/socketcluster/");
        } catch (IOException var10) {
            System.out.printf(var10.getMes

[2016-12-04 03:42] sacOO7 commented on #1
Hi ,
    I have removed hard-coded URL from Socket.class. You can now download latest dependency jar. Sorry for inconvenience caused. More issues are always welcome :)

[2016-12-04 22:20] heiba opened #2 "Keep getting Error 400 "Reason Phrase = URL not supported" when trying to connect"
Hello,

I have my socketcluster built on kubernetes and rancher, here's the link [sc.qurba.io](sc.qurba.io)

I keep getting error 400 as below:

Here's my code trying to connect

`SocketHelper.socket = new Socket("ws://sc.qurba.io/");`

I also tried with the below

`SocketHelper.socket = new Socket("http://sc.qurba.io/");`

[2016-12-05 02:22] sacOO7 commented on #2
Hey ,this was an easy thing .Sorry , but I should have documented this. When you are trying to connect to soketcluster end-point , by default url is always 'ws://somedomainname.com/socketcluster/' .
So , in your case url must be 'ws://sc.qurba.io/socketcluster/'. I tested with this URL and successfully connected to server.
![screenshot from 2016-12-05 07 47 14](https://cloud.githubusercontent.com/

[2016-12-05 02:29] #1 closed

[2016-12-05 04:16] heiba commented on #2
Thanks. Finally got connected.

[2016-12-05 04:16] #2 closed

[2016-12-24 09:05] shaunidiot opened #3 "NullPointerException - invoking on null object"
Platform: Android
Library version:
[code]

Problem:
On connected, my socket is able to emit and receive messages to and fro the server via internal loggings from the library. However, no callback is actually called to the project's code.

Example:

Android:
[code]

Server:
[code]

Android logs:
[code]

It managed to log the results from the server, but my guess is that it's unable to parse them du

[2016-12-24 11:08] sacOO7 commented on #3
I think you are trying to emit data without having any ack from server side. The correct code to handle this event from client side should be

[code]
instead of AckListener

[2016-12-25 12:53] shaunidiot commented on #3
Ahh.. I didn't realize that there's another Listener. I always assumed that Android Studio is clever enough to suggest the correct auto-suggest/auto-complete callback part for me. So sorry. My bad!

Also, I realized that you MUST emit a message with the event name. Emitting an event name with an empty String results in the error as well. Is SocketCluster suppose to work like this? Or can something

[2016-12-25 13:04] sacOO7 commented on #3
Well, socketcluster is build on event-based architecture. Passing event name as null will obviously violate the base on which framework is built. The client or server are always supposed to communicate through certain event , characterized by its name.

[2016-12-26 04:13] shaunidiot commented on #3
I think you may have misread my sentence. I meant emitting the message as empty but having a value for event name. For example:
`
socket.emit("testMessage", "");
`

Apparently, I've been doing this for months and I probably need to change. Anyhow, thanks for much for your help and your library. Will be closing this for now! Thanks once again! ❤️

[2016-12-26 04:13] #3 closed

[2017-01-02 18:36] zain-saqer opened #4 "Project should has .gitignore file"
The project should has .gitignore file, for git to ignore generated files, .class files and idea files.
See this https://gist.github.com/chrisjenx/6138781

[2017-01-02 18:41] sacOO7 commented on #4
I think that will not be causing major problem for now, will add it next time when I push the project.

[2017-01-02 18:42] zain-saqer commented on #4
I can do this task. What do you think?

[2017-01-02 18:43] sacOO7 commented on #4
Ok, wait. why do you want to do this. Tell me what problem you are facing right now?

[2017-01-02 18:47] zain-saqer commented on #4
Currently nothing, I just cloned this project. If I encounter any problem I will report here.

[2017-01-03 05:19] #4 closed

[2017-01-03 17:29] zain-saqer opened #5 "Change status to authenticated when reciveing #setAuthToken or #removeAuthToken events"
Library should has authentication status. and change this status when server send `#setAuthToken` or `#removeAuthToken` events. And `BasicListener`'s `OnAuthentication` should be fired whenever authentication status change.
Check socketcluster-client library implementation https://github.com/SocketCluster/socketcluster-client/blob/master/lib/scsocket.js#L183

[2017-01-03 17:35] sacOO7 commented on #5
I think you get auth status in callback.Try sending proper auth data from server and authentication callbacks will handle everything for you.

[2017-01-03 17:52] zain-saqer commented on #5
I send `login` event to sever, server authenticated on the server, and server send `#setAuthToken` event. Here the client should set the new token and fire `BasicListener`'s `OnAuthentication` event, because I'm authenticated now (right?). but OnAuthentication callback is only called after connect.

[2017-01-03 18:00] sacOO7 commented on #5
When setAuthToken method is called ,it means that you got authenticated token and you are authenticated. Next time you send token to server, server will verify it and then authenticated callback will be executed.It won't execute on setAuthToken.

[2017-01-04 08:25] sacOO7 commented on #5
I'm closing this issue for now, as I can't see any significant problem.

[2017-01-04 08:25] #5 closed

[2017-01-05 17:29] heiba opened #6 "Unable to connect"
Hello,

Here's my SocketCluster Kubernetes app scc.qurba.io

When I connect using your Android client on url "ws://scc.qurba.io/socketcluster/"

I get the following error

If I connect to "ws://scc.qurba.io/", I get the following:

In both cases, I don't get onConnected triggered nor onConnectError

[2017-01-05 17:46] sacOO7 commented on #6
Ok , I will take a look at it. Make sure URL is correct. Try connecting from earlier jar file. If it's working, then I need to take a good look at code.

[2017-01-05 17:57] sacOO7 commented on #6
The url is working from my PC.Try updating to latest client, it will surely work.The latest version can be added using gradle.

[2017-01-05 20:46] heiba commented on #6
Thanks managed to connect fine now with /socketcluster appended. Perhaps it was a network issue my side.

[2017-01-05 20:46] #6 closed

[2017-01-22 10:36] bv99 opened #7 "Working with self signed ceritificate HTTPs"
Hi, greate project you made there, thank you
So I get some problem here, can we use self signed sertificate here in this project? Thank you for your help

[2017-01-22 11:28] sacOO7 commented on #7
I think I have documented everything, try following before setting connection to server
https://github.com/sacOO7/socketcluster-client-java#handling-ssl-connection-with-server

[2017-01-22 14:46] bv99 commented on #7
Thanks it is works by now, sory I am new in android coding,
In case someone need help like me,I managed it to work by implementing context in this [https://developer.android.com/training/articles/security-ssl.html#ClientCert] to `factory.setSSLContext(context);` in the link @sacOO7  provide

[2017-01-22 14:46] #7 closed

[2017-02-09 01:16] jodyhuang opened #8 "SocketCluster Android Client Can't Receive message on 'message' event"
I have a nodejs server base on SocketCluster.
My issue is: From Android Client (base on https://github.com/sacOO7/socketcluster-client-java),
I can send message to server successfully, but I can’t receive the message from server(socket.send(msgStr))
on message event. Some of  android code as follows:
scSocket.on("message", new io.github.sac.Emitter.Listener() {
    public void call(String eventNam

[2017-02-09 10:10] sacOO7 commented on #8
Can I ask which version of library you are using right now? I can help if you put down your server and client side code for handling events.

[2017-02-14 08:41] jodyhuang opened #9 "SocketCluster Android Client can't subscribe message"
Excuse me, I have an issue about SC Android client,
When nodejs server publish message by scServer.exchange.publish(’S12’, data)
In Android client, I subscribe the channel ’S12’ as following:
1 scSocket.onSubscribe("S12_2",new Emitter.Listener() {
2            @Override
3            public void call(String name, final Object data) {
4                Log.e("# onSubscribe #", "Listen onSubscribe");

[2017-02-14 08:49] sacOO7 commented on #9
Hey, I think you are using pub-sub without creating channels. I think you should create a channel, subscribe to it and then use listener for incoming data. I have replied to your existing issue on github. It's better if you can create a new issue for this query on official client.For creating channels and using them, read official documentation available on github repo. In current scenario, you ar

[2017-02-15 03:32] #8 closed

[2017-02-15 10:44] #9 closed

[2017-05-31 09:14] goriunov opened #10 "Use codecEngine in android"
Hello i am wondering if it is possible to use codecEngine in android version. i know that https://github.com/SocketCluster/sc-codec-min-bin exist for JavaScript but do not know if i will be able to use it in android, also i have not find any information about it in Android SocketCluster documentation.
Thank you for response .)

[2017-06-09 05:51] nagamanojv opened #11 "NullPointerException when calling disconnect on socket object with unlimited reconnections"
I have initialized the socket and set the reconnection strategy as follows
`    socket.setReconnection(new ReconnectStrategy());
`
Now, if I call `socket.disconnect()` when connection is active, then there is no issue. But if I call the `disconnect()` method when the connection was broken and reconnection loop is triggered the app is crashing with `NullPointerException` in `reconnect()` method.

A

[2017-06-09 08:15] sacOO7 commented on #11
Then try to create a new pull request, I will merge your changes. Star the repo. if possible :p

[2017-06-09 13:36] nagamanojv commented on #11
Pull request created. Repo already starred :)

[2017-06-15 08:00] #11 closed

[2017-06-15 11:03] nagamanojv opened #13 "onDisconnect/onError not called"
Hi @sacOO7 , I am currently facing the exact issue you reported with [neovisionaries](https://github.com/TakahikoKawasaki/nv-websocket-client/issues/113). I am using it in Android phones majority of which are on 2G sims. Several times it happens that android doesn't identify the connection is broken(2G symbol available) but the connection with server is broken. It never identifies the connection i

[2017-06-22 05:02] sacOO7 commented on #13
You can use the onnetwork connectivity change listener to detect internet connectivity. I would recommend using library https://github.com/zplesac/android_connectionbuddy, if you want to save time.

[2017-06-27 13:51] nagamanojv commented on #13
Hi @sacOO7  I tried that library but it has the same problem it seems. It checks if network status change (from connected to disconnect or vice versa) but when connectivity changes when network status not changed (connected to hotspot which inturn lost connection).

[2017-06-27 13:58] sacOO7 commented on #13
I think I have to check for PING frames while receiving data, I will try to add some solution today regarding issue. Remind me of this issue in case I forget to do it. Thanks for your time.

[2017-06-29 04:06] nagamanojv commented on #13
Hi @sacOO7  will you be doing that ping frames related change soon.! I am kind of blocked on it for now.

[2017-06-29 04:25] sacOO7 commented on #13
Yeah will do it today :)

On Jun 29, 2017 9:36 AM, "nagamanojv" <notifications@github.com> wrote:

[2017-06-30 12:44] nagamanojv commented on #13
Hi @sacOO7 when I set
    `ws.setPingInterval(5000);`
in Socket.java in `connect()` method, it seems to be working. i.e application is identifying disconnection immediately in the case we discussed earlier. Is it the change you were planning to make or there is something else should be done.

Really sorry to go after you on this but this is a bit critical for me.

[2017-06-30 14:17] sacOO7 commented on #13
It seems you were able to access raw websocket instance. Yes, you are right !!! I was talking about same solution for identifying disconnection. I might have to add that code internally. But as you can see, you can actually have instance and perform required operations on it :)

[2017-06-30 14:32] nagamanojv commented on #13
I did it in your code only :)  Forked it, checked out, made changes and tried. It worked.

I am just worried about the effect on data usage because of this change. What would be the ideal interval for ping (given that the value is 8 seconds at the server, though that is configurable). I know the ideal interval is dependent on how quickly I need to identify but as I said I also have limitation on t

[2017-06-30 14:36] sacOO7 commented on #13
There won't be a lot of consumption in the data. You don't have to worry about it. It's in some bytes sent after some interval. Even for 1KB it will take 2 minutes.

[2017-09-16 15:50] cogmeta opened #14 "can connect to wss (SSL) server"
Getting this error
java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.
while connecting to wss server. Can this client handle SSL connections? wss://----/socketcluster

[2017-09-16 15:51] sacOO7 commented on #14
I think you can disable certificate verification?

On Sep 16, 2017 9:20 PM, "Cogmeta" <notifications@github.com> wrote:

[2017-09-16 16:01] cogmeta commented on #14
Thank you. But disabling certificate verification  is not an option. If missing certificate is the issue, we will add them and try again.

[2017-09-16 16:06] sacOO7 commented on #14
Yes, you can do that :+1:

[2017-09-16 16:07] cogmeta commented on #14
Can we ask for a favor? Can you please try connecting wss://chat.cogmeta.me/socketcluster and let us know. Thanks in advance. I think we are able to connect to ws://chat.cogmeta.me/socketcluster but there is no connect event on server.

[2017-09-16 16:10] sacOO7 commented on #14
Ohk sure. I think you should test SSL certificate once again.

[2017-09-16 16:31] sacOO7 commented on #14
And yes do star the client :p .

[2017-09-16 18:24] cogmeta commented on #14
We got rid of the ssl certification verification error but we still don't see connect event on server. Can you help us please? Thanks.

PS: starred the repo.

[2017-09-16 18:30] sacOO7 commented on #14
Thank you. Can you post your code here. Refer code at this repo. if possible
https://github.com/sacOO7/LAN-chat-Web-App

[2017-09-16 19:36] cogmeta commented on #14
Stepped into Socket.connect and there is OpeningHandshakeException exception:
com.neovisionaries.ws.client.OpeningHandshakeException: The status code of opening handshake response is not '101 switching protocols'. The status line is: HTTP/1.1 400 URL not supported

[2017-09-16 19:37] sacOO7 commented on #14
What is a URL?

On Sep 17, 2017 1:06 AM, "Cogmeta" <notifications@github.com> wrote:

Stepped into Socket.connect and there is OpeningHandshakeException
exception:
com.neovisionaries.ws.client.OpeningHandshakeException: The status code of
opening handshake response is not '101 switching protocols'. The status
line is: HTTP/1.1 400 URL not supported

—
You are receiving this because you commented.

[2017-09-16 19:38] sacOO7 commented on #14
Did you tried my code? I have tested it and it should work without any
problem

On Sep 17, 2017 1:07 AM, "Sachin Shinde" <sachinshinde7676@gmail.com> wrote:

[2017-09-16 21:23] cogmeta commented on #14
No luck so far in fixing this. URL not supported error. We tried both URLs
wss://subdomain.domain.me/sockercluster and wss://subdomain.domain.me but same error.

Our socketcluster is running behind nginx and it works fine with all browser clients.

/OpenGLRenderer: Initialized EGL, version 1.4
D/AbstractTracker: Event success
I/io.github.sac.Socket: === Status Line ===
I/io.github.sac.Socket: HTTP

[2017-09-16 21:28] sacOO7 commented on #14
I think cause might be URL. It's little different due to subdomain. Can you
keep domain as www.websitename.com

On Sep 17, 2017 2:53 AM, "Cogmeta" <notifications@github.com> wrote:

[2017-09-16 21:33] cogmeta commented on #14
We will try and report back. But, it wont really solve our problem as we have multiple socketcluster services running under different subdomains.

[2017-09-16 21:59] cogmeta commented on #14
Ok, wss://subdomain.domain.me/sockercluster/  [with trailing slash] works while wss://subdomain.domain.me/sockercluster does not. Most likely it is nginx issue. Will dig deeper and post more. Thanks for your help.

[2017-09-16 22:01] #14 closed

[2017-09-18 09:07] cogmeta opened #15 "equivalent of send function for sending raw binary data"
Is send (or equivalent method) available in android client for sending raw binary data? The web client has _*socket.send*_ method to send binary data which is available in raw event on server. If not, what is the best way to send raw binary data using android client?

[2017-09-19 13:48] cogmeta commented on #15
Using base64 encoding to send as string for now. Don't see any noticeable performance de issue due to decoding and encoding...closing for it now.

[2017-09-19 13:48] #15 closed

[2017-09-28 07:39] nakul91 opened #16 "Subscribe"
Need to pass the arguments to subscribe as an issue of security.

[2017-09-28 17:14] sacOO7 commented on #16
Can you describe your problem in detail?

[2017-10-10 15:01] acz123454 opened #17 "How to authenticate connection with Coinigy?"
Hi,

As in Title, how should I put 'apiKey' and 'apiSecret' if I want authenticate connection using Yours lib to connect with Coinigy?

Best regards,
Arek

[2017-10-10 17:51] sacOO7 commented on #17
Hey I think I can point you to the example from where you can replicate for the same?

[2017-10-11 07:36] acz123454 commented on #17
Hi,

Thanks for Yours answer! :)

I tried as below:
String url = "wss://sc-02.coinigy.com/socketcluster/";
Socket socket = new Socket(url);

socket.setListener(new BasicListener() {
   public void onConnected(Socket socket, Map<String, List<String>> headers) {
      System.out.println("Connected to endpoint");
   }

   public void onDisconnected(Socket socket, WebSocketFrame serverCloseFrame, WebS

[2017-10-11 08:36] acz123454 commented on #17
Also ApiCredentials is class as below:
class ApiCredentials {
   String apiKey;
   String apiSecret;

   public ApiCredentials() {
   }

   public ApiCredentials(String apiKey, String apiSecret) {
      this.apiKey = apiKey;
      this.apiSecret = apiSecret;
   }
}

[2017-10-11 10:28] acz123454 commented on #17
Did method as write below should be automatically called when connect?

public void onSetAuthToken(String token, Socket socket) {
	socket.setAuthToken(token);
}

When I debugging, the method is not called.

[2017-10-11 10:55] sacOO7 commented on #17
Hey instead of passing API key and value in the form of string, send it as
a json object same as in python.

On Oct 11, 2017 3:58 PM, "acz1234" <notifications@github.com> wrote:

[2017-10-11 11:02] acz123454 commented on #17
That is it! :D It works, it was problem in sending String , not Json object :)

Thanks!

[2017-10-12 19:55] sacOO7 commented on #17
Ohk I'm closing the issue :). Please star and fork the repo. if you like it :+1: .

[2017-10-23 10:32] joysonvd commented on #16
Hey Sachin,

In the javascript client I can do the following when subscribing to a channel.
channel = socket.subscribe(`${guid}`, {
				data : {userid : `${userid}`, token : 'eyJhbGciOiJSUzI1NiIsInR5cCI6Ikp'}
});

So we want to know if a similar thing can be done in the Android client as well. We use the user id and token to authenticate the subscribe request.

Regards,
Joyson.

[2017-11-01 07:35] #17 closed

[2017-11-09 14:33] taomWTP commented on #17
Hi,
I'm using java sample written above and always get exception:

Does it sample really work now?

[2017-11-13 16:52] nitinagr opened #19 "AndroidRuntime: FATAL EXCEPTION"
My connection with SC getting disconnected sometimes and when i try to send some msg app crashes with below error can you please help me here.

shutting down VM
11–13 09:20:56.221 3371–3371/git.cluster.io.socketclusterandroid E/AndroidRuntime: FATAL EXCEPTION: main
 Process: git.cluster.io.socketclusterandroid, PID: 3371
 java.lang.NullPointerException: Attempt to invoke virtual method ‘void io.gi

[2017-11-13 18:42] sacOO7 commented on #19
Hey please make sure you are creating channel first and then publish on it.

[2017-11-14 02:34] nitinagr commented on #19
That i am doing but when the connection is broken this exception crash the app.There should be a way to catch this exception and handle gracefully.

[2017-11-14 05:07] sacOO7 commented on #19
I think that shouldn't create a problem. I'm sure of that. Can you check if channel object become null after connection is broken.

[2017-11-22 05:41] xinpengfei520 opened #21 "could you provide jar file with Android Studio compile ?"
hi,
could you provide jar file with Android Studio compile ?

Thank you!

[2017-12-25 21:51] tyagi85prashant opened #23 "cannot authenticate wesocket connection from java client"
Hi i am trying to get websocket stream using following code

 `import com.neovisionaries.ws.client.WebSocketException;
import com.neovisionaries.ws.client.WebSocketFrame;
import io.github.sac.*;

import java.util.List;
import java.util.Map;

import org.codehaus.jettison.json.JSONException;
import org.codehaus.jettison.json.JSONObject;

public class Main {

    public static String url= "wss://sc-0

[2018-01-08 19:08] kyle-copeland commented on #23
I believe you need to set `socket.setAuthToken` before you run `socket.connect()`. Auth should happen automatically. You don't need to manually emit an auth event. Let me know if that works for you.

[2018-01-12 05:51] sacOO7 commented on #21
Hey why do you need jar file, you can directly add it as a dependency. Sorry for late reply :P .

[2018-01-24 15:16] nakul91 commented on #16
any update on the above issue.

[2018-01-24 19:06] sacOO7 commented on #21
Hey do you have any updates on this issue? If not I will close it soon .

[2018-01-24 19:07] sacOO7 commented on #19
Hi @nitinagr is your problem got solved? If it is let me know, I am closing this issue soon

[2018-01-24 19:08] sacOO7 commented on #23
Yeah @kyle-copeland  Thanks for the reply 👍

[2018-01-24 19:11] sacOO7 commented on #16
Hi @nakul91 can you describe your problem in more detail?

[2018-01-25 05:31] nakul91 commented on #16
Hi @sacOO7 right now we cannot authenticate the subscribe functionality as its just a call back function as follow:
 socket.createChannel(" XX ").subscribe(new Ack() {
            @Override
            public void call(String name, Object error, Object data) {

            }
        });
in the backend, they have updated the authentication with the token as specified by @joysonvd  in the above post

[2018-01-25 05:43] nitinagr commented on #19
Yes resolved.Please close it.

On Thu, Jan 25, 2018 at 12:37 AM, sachin shinde <notifications@github.com>
wrote:

[2018-01-25 08:58] xinpengfei520 commented on #21
ok, thank you very much ! you can close it.

[2018-01-31 19:02] #21 closed

[2018-02-01 08:25] dalakada commented on #23
can you please provide an sample working code, I'm also having the same issue

[2018-02-18 12:45] sacOO7 opened #24 "Add support for RxJava and asynchronous connect"
Implement Observable stream pattern in the library, keep separate subscribers to receive and send data to the server.

[2018-03-11 17:38] desided opened #25 "connect with auth - error"
try connect with apikey and apisecret to wss://sc-02.coinigy.com/socketcluster/.
in Socket.java change connection code -
`JSONObject handshakeObject=new JSONObject();
                handshakeObject.put("event","#handshake");

                JSONObject obj = new JSONObject();
                obj.put("apiKey", "api");
                obj.put("apiSecret", "secret");

                JSONObject obje

[2018-03-13 09:13] desided commented on #25
i find the issue. the library is not designed to make secure connection. api and secret must be encoded with JWT. but if you do the correct auth, the async between request is broken

[2018-03-16 14:46] kuhnp commented on #16
I have the same problem, I need to add a jwt token in the `data` payload. But unfortunately, this is not exposed by the subscribe method. Any update?

[2018-03-17 15:19] sacOO7 commented on #23
@dalakada  @desided @tyagi85prashant Please look here https://github.com/sacOO7/socketcluster-client-java/issues/17

[2018-03-17 15:20] sacOO7 commented on #25
Hi @desided , Can you please take a look here for solution
https://github.com/sacOO7/socketcluster-client-java/issues/17

[2018-04-05 06:01] nakul91 commented on #16
@sacOO7  this issue got fixed in ios but not in the android can you pls fix this up.

[2018-04-05 06:28] nakul91 commented on #16
@sacOO7 this can help https://github.com/sacOO7/socketcluster-client-swift/pull/5/commits/2a60fac9182ca3f0d3e60996ea96ce1a137b0cd1

[2018-04-05 07:04] sacOO7 commented on #16
Yes sure @nakul91 , I will take a look at it....

[2018-04-05 07:06] nakul91 commented on #16
@sacOO7  thanks 👍

[2018-04-13 13:20] Hayko985 opened #28 "Emitter.Listener callback not compiles. Not works."
Hi, I'm creating socket client part, and I have a problem in Emitter.Listener. The listener not throws any exception, it only not compiles. SO when I'm doing debug, and I set breakpoint in that callback, it jumps over the call. I have some pictures where I explain my problem very well.
![screen shot 2018-04-13 at 4 17 52 pm](https://user-images.githubusercontent.com/30463912/38736952-bac7f732-3f3e

[2018-04-13 15:49] Hayko985 commented on #28
From server they said that they have an exception like this SocketProtocolError: Client pong timed out. I have no problem with access and refresh tokens. And the internet connection is great, if I have an internet connection problem, I can't to connect. But I'm connecting successful.

Yes and one more thing too. I moved the socket.connect() method after the listener and socket.on(), and now in deb

[2018-04-13 16:16] sacOO7 commented on #28
Sure, I will take a look at it @hyko

On Apr 13, 2018 9:19 PM, "Hayko985" <notifications@github.com> wrote:

[2018-04-13 17:44] Hayko985 commented on #28
Thank you very much, please help me if you can)) @sacOO7

[2018-04-15 11:12] Hayko985 commented on #28
@sacOO7  Hi)) How are you? Please can you help me to fix this problem, tomorrow is the last day, and if i can't do this, they will not bring me to work. So please, help me if you can)) Thank you.

[2018-04-15 11:14] Hayko985 commented on #28
@sacOO7  Here is my vk, you can connect with me)) https://vk.com/id192526595

[2018-04-15 13:41] sacOO7 commented on #28
Hi @hyko, sorry for late reply. Little busy those days. Will get back to
you for sure (today night ...., Probably after 2-3 hours)

On Apr 15, 2018 4:44 PM, "Hayko985" <notifications@github.com> wrote:

[2018-04-15 18:35] Hayko985 commented on #28
@sacOO7  hey bro) I think you can't help me today. If you can't, then can you help me tomorrow, but soon? And how can I connect with you? Any vk, whatsapp or something else.

[2018-04-15 19:01] sacOO7 commented on #28
Hi @Hayko985, Can you explain for which event are you exactly trying to listening to?

[2018-04-15 19:01] sacOO7 commented on #28
Sending auth data is not supposed to be inside listener

[2018-04-15 19:02] sacOO7 commented on #28
Instead before connecting call socket.setAuthToken("Your JWT token here")

[2018-04-15 19:03] sacOO7 commented on #28
You can see that method here https://github.com/sacOO7/socketcluster-client-java/blob/master/src/main/java/io/github/sac/Socket.java#L90

[2018-04-15 19:08] sacOO7 commented on #28
Please post here context of your problem as well as little server code that sends data so that I can understand exact problem

[2018-04-15 19:11] Hayko985 commented on #28
Ok, so when I'm giving my jsonobject to that data, instead I need to use setAuthToken. I'm listening to connect event. I'm beginner yet in sockets)) Server says that client not sends pong. What is this pong and how to send it?

[2018-04-16 07:32] Hayko985 commented on #28
@sacOO7 Hi) How are you? I done socket.setAuthToken("Your JWT token here"), but that not helped. Server says that client not sends pong. So you know what is that pong and how to send it?

[2018-04-16 07:40] sacOO7 commented on #28
Hi @Hayko, if you are not writing any server code, you don't need to set
auth token. You can check example working code here
https://github.com/sacOO7/socketcluster-client-java/blob/master/src/main/java/Main.java

On Apr 16, 2018 1:02 PM, "Hayko985" <notifications@github.com> wrote:

[2018-04-16 07:55] sacOO7 commented on #28
Generally auth token is set by server itself, you will receive it and save
it.Then reuse it using set auth token method. You will receive token in
onsetAuthtoken callback, there you can save it and use it again.

On Apr 16, 2018 1:10 PM, "Sachin Shinde" <sachinshinde7676@gmail.com> wrote:

[2018-04-16 08:41] Hayko985 commented on #28
@sacOO7  I done as in this example and in logs it says "Authentication is required (optional)". So in socket.setlistener(new BasicListener{}) there is a method onSetAuthToken(). I need to give here my jwt?

[2018-04-16 08:42] Hayko985 commented on #28
![screen shot 2018-04-16 at 12 41 40 pm](https://user-images.githubusercontent.com/30463912/38798788-9ef5b878-4173-11e8-94d1-755ba0dd5965.png)

[2018-04-16 08:44] Hayko985 commented on #28
@sacOO7  I'm beginner in this sockets and sorry for disturbing you, but i need your help))

[2018-04-16 12:47] sacOO7 commented on #28
Hi @Hayko985, I am not sure why you are sending auth event to server

[2018-04-16 12:47] sacOO7 commented on #28
Can you put your server URL here?

[2018-04-16 13:01] Hayko985 commented on #28
@sacOO7  Hi)) After long suffering I'm already sending my pong)) So in server there is no any pong exception. The only issue is now that I'm using oauth2 and I can't to send jwm, I need to send my oauth object, so my access token and refresh token.

Let me show some of the server logs and you'll see the exceptions.

[Warning] AuthTokenInvalidError: jwt malformed
at emitOne (events.js:96:13)
    at

[2018-04-16 13:06] sacOO7 commented on #28
Can you give me the context of your server code? I am not sure how it is
working or supposed to work. Normally if you start school server, on normal
mode, you do not require to send JWT.

On Apr 16, 2018 6:31 PM, "Hayko985" <notifications@github.com> wrote:

[2018-04-16 13:19] Hayko985 commented on #28
I can only see the source code. Here the scrypt.

<script type="text/javascript">
--
  |  
  |  
  |  
  | var accessToken = "";
  | var refreshToken = "";
  | var aaa = function () {
  | $.get("http://localhost:1986/api/token?grant_type=password&client_secret=5a98bc9cba96b3048255936dd&client_id=c27ca-943-55e42a6c&email=e7@kla.com&\n" +
  | "password=password", function (data) {
  | accessToken =

[2018-04-16 13:51] sacOO7 commented on #28
I see

On Apr 16, 2018 6:57 PM, "Hayko985" <notifications@github.com> wrote:

[2018-04-16 13:58] sacOO7 commented on #28
Is this server code written by you? or is it a chatroom service... I just want to know if that code is working

[2018-04-16 14:02] Hayko985 commented on #28
This is for chatroom)) Yes I have accessToken and refreshToken. But wait a while because they are doing work on server and now it's unavailable))

[2018-04-16 14:03] sacOO7 commented on #28
Just a quick question... Are you able to connect to server. I believe you should receive connected to server in onconnect function callback.

[2018-04-16 14:10] sacOO7 commented on #28
Just write down this code after sc.connectAsync method call.
[code]

[2018-04-16 14:21] Hayko985 commented on #28
Yes of course. Yeah and I changed the connectAsync() to connect() and moved it into thread. So I don't know what's the difference between this two, because it's connects anyway.

[2018-04-16 14:27] Hayko985 commented on #28
Here my code after adding the JsonObject part

![screen shot 2018-04-16 at 6 26 37 pm](https://user-images.githubusercontent.com/30463912/38814932-c2faff32-41a3-11e8-91cd-601cb6bf8439.png)

[2018-04-16 15:03] sacOO7 commented on #28
What is sc.on("connect"). You do not need it.

[2018-04-16 15:05] Hayko985 commented on #28
@sacOO7  I saw it in server code, I thought I need it. Ok but what is that method means?

[2018-04-16 15:05] sacOO7 commented on #28
To get whether you get connected or not, you need to register basic listener. I think, you probably need to take a look at documentation on repo( https://github.com/sacOO7/socketcluster-client-java). It will solve most of your problems :+1:

[2018-04-16 15:11] Hayko985 commented on #28
Yeah I done already the basic listener, that not visible in picture)))
![screen shot 2018-04-16 at 7 11 07 pm](https://user-images.githubusercontent.com/30463912/38817693-f92bd63e-41a9-11e8-8620-07fea43eae55.png)

[2018-04-16 15:15] Hayko985 commented on #28
Oh I understood. So with socket.on() I can get message from server and with socket.emit() I can send data to server. I'll read the documentation today)) The server not works yet)))

[2018-04-17 09:01] Hayko985 commented on #28
@sacOO7 Hi) How are you? So I done something like this as you said, but the server not gets my data, that I'm sending with emit. Watch here.
![screen shot 2018-04-17 at 1 00 00 pm](https://user-images.githubusercontent.com/30463912/38859617-77d72b2e-423f-11e8-940a-0bc42f815456.png)

[2018-04-17 10:33] Hayko985 commented on #28
@sacOO7  Man there's another little problem, I don't know why is it working like this, but when I'm running my app, that not sends data to server, but when I'm doing debug, it sends the data successful, but when it sends there's an error too.

Here the error log.
error TypeError: Cannot read property 'username' of undefined
    at process._tickCallback (internal/process/next_tick.js:103:7)
newuser

[2018-04-17 13:06] Hayko985 commented on #28
@sacOO7 Ok I'll wait you bro) Thanks a lot)))

[2018-04-17 14:02] sacOO7 commented on #28
Hi @Hayko985 , the problem is because, you are trying to subscribe before handshake is made with server. I think should emit auth event inside onConnected callback. It should work.

[2018-04-17 14:12] Hayko985 commented on #28
@sacOO7 Hi)) All works thanks. So one more question too. Is there any watch method in client part?
![screen shot 2018-04-17 at 6 12 09 pm](https://user-images.githubusercontent.com/30463912/38875191-e70232c0-426a-11e8-96f4-5e0e6ae42ed8.png)

That's in server part. How can I do this in client part?

[2018-04-17 18:48] sacOO7 commented on #28
Since problem is solved, I will close the issue ..

[2018-04-17 18:48] #28 closed

[2018-04-18 05:32] sacOO7 commented on #28
Btw @Hayko985, let me know if you want to suggest any improvement in the current client. Also, do **STAR** the client if you like it :).

[2018-04-18 06:34] Hayko985 commented on #28
Yeah, I already gave a star)))))

[2018-04-18 13:30] Hayko985 commented on #28
@sacOO7 Hi)) How are you? Can I give you a little question? How can I do this emit part in android. This code is in javascrypt, so I don't know how to give in android the roomName and the message text.

![screen shot 2018-04-18 at 5 30 28 pm](https://user-images.githubusercontent.com/30463912/38934986-3d21fd8e-432e-11e8-85c6-ee6e5ed4b3c2.png)

[2018-04-18 15:12] Hayko985 commented on #28
I already solved thanks)))

[2018-04-27 14:06] XDex commented on #15
@cogmeta see my fork with binary Socketcluster codecs support: https://github.com/XDex/socketcluster-client-java

[2018-05-04 20:13] jmatzen opened #30 "This lib needs Maven support."

[2018-05-11 05:16] cdrandin opened #31 "No access to jwt token"
Would be nice to include a method for retrieving the AuthToken `getAuthToken` and even possibly another method for decoding it `getSignedToken`. Following naming convention (here)[https://socketcluster.io/#!/docs/api-scsocket-client].

Why decode? I send along a list of channels available to a user. Which is used in the [Authentication example](https://socketcluster.io/#!/docs/authentication).

[2018-05-19 11:16] sacOO7 commented on #31
Sure @cdrandin , will be working on the change :+1:

[2018-05-19 11:18] sacOO7 commented on #30
Hi @jmatzen, you can import library for maven using
[code]
For more details visit https://bintray.com/sacoo7/Maven/socketcluster-client/1.7.4

[2018-05-20 09:24] ablack13 opened #32 "Can't auth by api/secret keys (Java app/Android). Key/Secret Pair Failed"
Hello. Can't authorize by api keys from Coinigy API (My Account -> Coinigy API - >Generate new key ->v1)

Source in Kotlin (but was on Java too. Same result)

`import com.neovisionaries.ws.client.WebSocketException
import com.neovisionaries.ws.client.WebSocketFrame
import io.github.sac.BasicListener
import io.github.sac.ReconnectStrategy
import io.github.sac.Socket
import org.json.JSONObject

clas

[2018-05-20 16:36] ablack13 commented on #32
![image](https://user-images.githubusercontent.com/5351890/40281035-ba739d98-5c64-11e8-80d7-83f87339a274.png)

Sending data is correct, but always return

`INFO: Message :{"data":"Key/Secret Pair Failed","rid":2,"error":{"errorCode":403,"errorMsg":"Key/Secret Pair Failed"}}`

@sacOO7 please help. 2 days can't connect to Coinigy socket by socketcluster client

[2018-05-20 16:39] sacOO7 commented on #32
Sure @andrue, I will look into it 👍

On May 20, 2018 10:06 PM, "Andrew Black" <notifications@github.com> wrote:

[2018-05-22 17:27] sacOO7 commented on #32
HI @ablack13 , the issue is probably due to coinigy server problem. They have shut it down due to some load balancing issues. You will find more details here https://github.com/Coinigy/api/issues/34

[2018-06-01 05:10] joysonvd commented on #16
Hi @sacOO7, Have you been able to get through to this.

[2018-06-01 05:11] sacOO7 commented on #16
Will probably work on it today and let you know about it 👍

On Jun 1, 2018 10:40 AM, "joysonvd" <notifications@github.com> wrote:

[2018-06-01 17:38] sacOO7 commented on #25
HI @desided , the issue is probably due to coinigy server problem. They have shut it down due to some load balancing issues. You will find more details here Coinigy/api#34

[2018-06-08 13:30] Hayko985 opened #33 "Channel.on not works good. What's the problem?"
Hi. I have a chat application where I'm using sockets. In this application I'm connecting to socket then I send my tokens into server then I'm creating channel -> subscribing -> listening to this channel with Channel.on . So the problem is that I'm can't to get messages with channel.on sometimes. Example when I'm login in this app I have to get message from server that right now only I'm online in

[2018-06-19 14:20] Hayko985 opened #34 "Android client Basic listener not working"
@sacOO7 Hy, how are you? Can you help me I have one problem. I have a chat application where I'm registering , authorizing, connecting to socket. In basic listener: in onConnected method I'm sending my tokens into server. In onAuthenticated method I'm creating channel, then subscribing it. All works good, but when I'm creating a new account, the basic listener not works. So I'm connecting and then

[2018-06-22 06:32] sacOO7 commented on #34
And I don't think you will need to create a thread to connect to server. You can just use connectAsync() Method. It will try to connect to server without creating a thread.

[2018-06-22 06:38] sacOO7 commented on #34
For the first time, you need to set up listener before connecting to server. Otherwise it won't work. You can check example here
https://github.com/sacOO7/socketcluster-client-java/blob/master/src/main/java/Main.java

[2018-06-22 06:42] sacOO7 commented on #34
I believe your code should be more like this
[code]

Simple and elegant :)

[2018-06-22 10:01] Hayko985 commented on #34
@sacOO7 Thank you, I'll test it later. And one more question too. Can I move socket channel creating part out of  onAuthentication method in basic listener. And what you can suggest me to add in this code or what to remove from here? Thank you one more time))

[2018-06-22 10:52] Hayko985 commented on #33
I opened a new question. This is already fixed. Thank you. Rather I will delete this question

[2018-06-22 10:53] #33 closed

[2018-06-22 11:52] Hayko985 commented on #34
@sacOO7  And one more question too.

`sc.emit("auth", authObject, new Ack() {
         @Override
             public void call(String name, Object error, Object data) {
                 Log.d(TAG, "Ack");
             }
       });`

In my "auth" event in onConnected method on basicListener sometimes  not works. The server gets my tokens successfully, but I'm not getting acknowledgment. I add there

[2018-06-22 17:00] sacOO7 commented on #34
Well as long as you dont have any use for ack. I believe you can just leave it be. And about channel, you can move it somewhere else.

[2018-06-22 17:08] sacOO7 commented on #34
One more question ... Do you have any server method that listens to ack emit call?

[2018-06-22 18:38] Hayko985 commented on #34
@sacOO7 yeah, it works good but sometimes the emit don't work. So it jumps over the emit and not does the acknowledgment part. Is in my code all right? Any suggest why could happen a problem like this?

[2018-06-22 18:42] Hayko985 commented on #34
I'll move the channel part from there. If I understand, I send my tokens with emit and in success the program goes and does the acknowledgment part yes? Else it jumps over it and not executes the acknowledgment part. If the program not goes into acknowledgment that means that I'm doing something wrong with sending. And is there any time interval for sending? Example  would be happen something if I

[2018-06-23 05:16] sacOO7 commented on #34
Hey, don't try to send emit multiple times. There should be permanent solution to this :) for sure..

[2018-06-23 05:19] sacOO7 commented on #34
I believe server auth gets called everytime you send emit right? So, onAuthentication callback should get called with token and bool falg set to true, everytime you get authenticated.

[2018-06-23 05:20] sacOO7 commented on #34
It will be helpful if you can put breakpoint in there.

[2018-06-23 05:40] sacOO7 commented on #34
Also if you can provide server side code snippet that handles authentication

[2018-06-23 18:41] Hayko985 commented on #34
@sacOO7 So I can't to send emit multiple times yes? In my example I'm sending 1 times in 3-4 seconds and that works almost 10-20 times and then 1 time it don't works. After that works again 10-20 times and fails and so on.  And can you describe more what you mean saying bool flag set to true. Where is that bool flag? Sorry but server side code is not mine I can't) I have no their source code.

[2018-06-23 18:57] sacOO7 commented on #34
Which server API are you trying to use ? It might be server side issue.. if you are not getting callback for auth event. Or might be limit on number of auth requests you can send per second. If you can let me know about server, I will try to reproduce it on my local.

[2018-06-25 07:01] Hayko985 commented on #34
I'll talk with them. If they let me, I'll can send you the api for testing.

[2018-06-25 20:09] sacOO7 opened #35 "Sync with JS client"
* Sync all socket level API's with respect to JS client
* Sync all channel level API's with respect to JS client.
* Well tested major release of client

[2018-06-28 07:37] mastani opened #36 "Unauthorized error"
Hello, i'm getting this error when trying to add the library,

Can you help me ?

[2018-06-28 07:40] sacOO7 commented on #36
Try 1.7.4 for now. I will look into the issue

[2018-06-28 07:41] mastani commented on #36
Thanks for fast answer!
But for 1.7.4 i get the same error.

[2018-06-28 07:52] sacOO7 commented on #36
How are you exactly adding library as a dependency in your project?

On Jun 28, 2018 1:11 PM, "Amin Mastani" <notifications@github.com> wrote:

[2018-06-28 07:57] mastani commented on #36
Same as you describe in readme,

`compile ('io.github.sac:SocketclusterClientJava:1.7.4') {
      exclude group: 'org.json', module: 'json'
}`

Actually I use your library for a month now and it was ok until now.

[2018-06-28 07:58] sacOO7 commented on #36
Idk what caused this problem..... I might need to reproduce it on my local

On Jun 28, 2018 1:27 PM, "Amin Mastani" <notifications@github.com> wrote:

[2018-06-28 08:08] mastani commented on #36
Maybe it's because you change maven settings to private ?

[2018-06-28 08:32] sacOO7 commented on #36
Ok I will look into it

[2018-06-28 08:34] sacOO7 commented on #36
Can you check this https://jfrog.com/knowledge-base/why-am-i-failing-to-work-with-jfrog-saas-service-with-tls-1-0-1-1/

[2018-06-28 08:47] sacOO7 commented on #36
You can find my maven published artifacts here https://dl.bintray.com/sacoo7/Maven/
It's a public link and I don't think it will require authentication.

[2018-06-28 09:05] mastani commented on #36
I checked the link you provided, But my Android Studio is up-to-date. I don't think it's the cause of my problem. I added jar files manually to libs/ folder for now and it's working.

[2018-06-28 09:10] sacOO7 commented on #36
I will try to fix it today ...

On Jun 28, 2018 2:35 PM, "Amin Mastani" <notifications@github.com> wrote:

[2018-06-28 09:21] mastani commented on #36
Thank you, and thanks for your awesome project by the way.

[2018-06-29 06:35] sacOO7 commented on #36
Hi @mastani , I tried yesterday to add latest version as a dependency in gradle, but it is working for me. Can you please check it again? Maybe on build pipeline or on your friends laptop?

[2018-06-29 06:48] sacOO7 commented on #36
Still I will add public artifact link in the README. Please let me know about above...

[2018-06-29 17:33] mastani commented on #36
It is working now, checked for 1.7.4 and 1.7.5.
I tried just now and it's fine.

Thanks for your time!

[2018-06-29 17:49] sacOO7 commented on #36
Ok, then I will be closing this issue .....

[2018-06-29 17:50] #36 closed

[2018-06-29 17:50] sacOO7 commented on #34
Hi @Hayko985 any updates on this ?

[2018-06-29 18:00] Hayko985 commented on #34
@sacOO7 I think we can close this question. If there would be something new I let you know) Thank you.

[2018-07-05 15:40] sacOO7 opened #37 "Should be able to switch between OkHTTP and Current library"
It should be possible to implement interface that will allow to use both OkHTTP websockets and NeoVisionaries.

[2018-07-09 09:04] #34 closed

[2018-07-09 09:09] sacOO7 commented on #32
Hi @ablack13 , I think coinigy websocket api is live now. I will probably write down a code snippet to connect with coinigy server in 1-2 days. Keep watching repo. till then

[2018-07-16 19:14] sacOO7 commented on #32
Hi @ablack13 @aliiizzz I have created a gist to represent code that connects properly to coinigy server. You can find it here https://gist.github.com/sacOO7/a3fc817dfc5c85cf21ec96f09869fdfc

[2018-07-19 20:20] miladr0 opened #38 "auth before connect to socket connection"
hi
in socket.io i use this way for auth before connect to socket.

`IO.Options options = new IO.Options();
            options.query = "token=" + token;
            socket = IO.socket(SERVER_ADDRESS, options);
           socket.connect();
`
can i user this way with this library?

[2018-07-19 22:40] sacOO7 commented on #38
You can use setAuthToken method on the socket to set token, before
connecting to server.

On Fri, Jul 20, 2018 at 1:50 AM Milad Ranjbar <notifications@github.com>
wrote:

[2018-07-19 22:48] sacOO7 commented on #32
Hi @ablack13 @aliiizzz , if you don't have any updates in this, I will close the issue .

[2018-07-26 07:36] nakul91 commented on #16
Hi @sacOO7  any update on this issue

[2018-07-26 08:23] sacOO7 commented on #16
Hi @nakul91 , I am currently porting all functionality from js client to java. You can find updated here. Since I am working on Unity client, this will take some time to complete. https://github.com/sacOO7/socketcluster-client-java/tree/feature/syncJsClient.

[2018-08-21 09:57] sacOO7 commented on #38
Hi @miladr0 , will close the issue, if your problem is resolved 👍

[2018-08-22 07:30] miladr0 commented on #38
hi @sacOO7 , i couldn't solved the problem according to your suggestion, so i stick to socket.io, thanks anyway.

[2018-08-22 07:30] #38 closed

[2018-08-22 07:32] sacOO7 commented on #30
Hi @jmatzen , any updates on this? I will be closing this issue if your problem is resolved..

[2018-08-22 07:33] sacOO7 commented on #23
Hi @desided @dalakada @tyagi85prashant @kyle-copeland This should work for you https://gist.github.com/sacOO7/a3fc817dfc5c85cf21ec96f09869fdfc

[2018-08-22 07:34] sacOO7 commented on #23
@desided @dalakada @tyagi85prashant @kyle-copeland , please let me know your updates on this. Will close the issue, once it gets resolved

[2018-08-22 07:53] sacOO7 commented on #38
Ohh no problem @miladr0 , please let me know if you use socketcluster in future and face any problem again 👍.

[2018-08-22 10:03] siva-7112 opened #41 "Missing artifacts:"
'io.github.sac:SocketclusterClientJava:1.7.5' when trying to add the following dependency in maven getting the following error missing artifacts.I am using the Maven without the Spring Dependency.

As the page suggest we have to have spring

[2018-08-22 11:33] sacOO7 commented on #41
Which IDE are you using for development? I would recommend IntelliJ IDEA community edition. Create a simple java project inside IDE. Then add jar as a dependency.

[2018-08-22 11:33] sacOO7 commented on #41
Or clone this project https://github.com/sacOO7/socketcluster-client-testing. Open it using IDE. You should be able to run the code.

[2018-09-09 14:38] sacOO7 commented on #41
Hi @siva-7112 , are you still facing same issues... please let me know about it

[2018-10-22 17:48] aalap03 opened #43 "Socket Basic Listener does not receive messages in few phones."
I am using this code to listen to the socket messages from our server.

Issue is I am testing with 2 samsung galaxy S7Edge phones both API level 26 and it one phone the socket messages works and in other phone it does not. Another test phone I am working with is Samsung S5 Neo with API 24 and it works with that phone.

I have looked into the the phones notification settings but it looks good.

Ple

[2018-11-03 19:04] sacOO7 commented on #43
Hi @aalap03 , can you provide your exact problem? I need little more description... It will be helpful if you can provide me with little description about where exactly it get stuck.

[2018-11-05 18:46] aalap03 commented on #43
I subscribe to the server channel to receive updates and I receive messages in `onMessage` method.

I use 3 Test phones for development purpose, The Issue is on one of my test phones (Galaxy S7 Edge API 26), I don't receive Socket Updates. The phones in which it works is another Galaxy s7Edge with API 26 and Galaxy s5 NEO API 24.

I checked the not working phone's notification settings and all loo

[2018-11-12 15:18] sacOO7 commented on #43
sorry @aalap03 , I am still looking into the issue. I am planning to use OkHTTP websockets instead of current websocket library.... Will push the code till end of this week.

[2018-11-12 15:44] aalap03 commented on #43
Ok @sacOO7, will be waiting for the update eagerly. Hope changing websocket library will solve the issue.

[2018-11-15 15:29] 7u15 opened #44 "size objects"
large objects do not arrive in response

   socket.emit("Sala_proba", parameter, new Ack() {
            @Override
            public void call(String name, Object data, Object error) {
                Log.i(TAG, "call: name:"+name+",data"+data.toString()+",error:"+error);
                //data no work
                }
        });

[2018-11-16 12:21] SanderGemoro opened #45 "Upgrade Neovisionaries socket library"
Currently the library is using a nv-socket lib version that's 8 version behind the latest one.
This means the library is missing (important) features such as SNI support which is currently causing me a lot of issues on an app supporting older Android APIs.

Please upgrade the lib to use a more recent version of the Neovisionaries socket library.

[2018-11-21 11:06] sacOO7 commented on #45
Hi @SanderGemoro I am really sorry for delay. Expect update from me on this till tomorrow.

[2018-11-21 11:07] sacOO7 commented on #43
Hi @aalap03 @SanderGemoro  expect update from me on this till tomorrow 👍

[2018-11-22 20:42] aalap03 commented on #43
ok. Will wait for it eagerly.

[2018-12-03 09:28] VirgileDjimgou opened #46 "Question about Data Synchronisation"
hello ,
I wanted to know if there is a mechanism for saving the data of a channel in a relational database (i.e mysql or ...) or non-relational database. in case a client disconnects from a channel does it exist a data synchornisation mechanism so that it receive the data exchanged  when it was not connected like a snapshoot ?
I read an article mentioning this Mechnismus  (https://blog.baasil.io/s

[2018-12-04 09:32] SanderGemoro commented on #45
Hi @sacOO7 , any new updates on this front or the OkHttp socket conversion? Really looking forward to it :D

[2018-12-04 09:52] sacOO7 commented on #45
Hey I will push the minimal okhttp based websocket version today 👍

On Tue, Dec 4, 2018, 3:02 PM SanderGemoro <notifications@github.com> wrote:

[2018-12-04 21:39] sacOO7 commented on #45
Hi @SanderGemoro , I have updated the library today. You can see code on the branch here https://github.com/sacOO7/socketcluster-client-java/tree/feature/okHTTP.
Will release unofficial version of library for beta testing. Keep watching repo. for more updates.

[2018-12-04 21:42] sacOO7 commented on #44
Hi @7u15 , have you checked why they do not arrive on response?

[2018-12-04 21:44] sacOO7 commented on #43
Hi @aalap03 , I have created branch for the same here https://github.com/sacOO7/socketcluster-client-java/tree/feature/okHTTP. Sorry for the delay. It was more work than expected. I will release unofficial version of the library so that you can test it on your phones asap.

[2018-12-04 21:46] sacOO7 commented on #46
There is no abstraction provided to save channel data in relational database. You probably need to write down your own code to do it.

[2018-12-04 22:21] sacOO7 commented on #45
Hi @SanderGemoro , I have published beta version related to above code. You can include it in your code by using
[code]
There are some method signatures which got changed due to change in library. But, you should be able to fix it without any problem. Please let me know if you face any problems with this latest release.

[2018-12-04 22:22] sacOO7 commented on #43
Hi @aalap03 @SanderGemoro  I have published beta version related to above code. You can include it in your code by using
[code]
There are some method signatures which got changed due to change in library. But, you should be able to fix it without any problem. Please let me know if you face any problems with this latest release.

[2018-12-06 17:07] sacOO7 commented on #45
Hi @SanderGemoro , any updates on above?

[2018-12-06 17:12] SanderGemoro commented on #45
I havent worked on this part in our project since your last update so I haven't had the time to try it out yet. I'll probably be able to give an update tomorrow! Thanks for your hard work!

[2018-12-06 17:20] sacOO7 commented on #45
Ok np...

[2018-12-07 11:16] SanderGemoro commented on #45
Hey @sacOO7 ,
I just tried out your new beta client and it solved all of our issues instantly!
Like you said we did have to make some minor changes but that was a piece of cake. Our chat solution now works perfectly on devices running API 21 and up

[2018-12-11 18:40] mike-holberger commented on #45
Wow I am really looking forward to the OkHttp release too! I will be testing out the beta release for now.

[2019-01-11 21:01] 7u15 commented on #44
I could not find the error, when I send information if it arrives but when the information contains say 300 characters does not work

[2019-02-01 07:03] amy6 commented on #19
Hey @nitinagr, I am facing the same problem and was wondering if you could tell me what the fix was in your case?

[2019-03-07 22:04] aalap03 opened #47 "I am still receiving data after I stop the service of socket cluster"
I have socket cluster client setup as described in the documents. I start the service to listen the changes and stop it when I dont want to listen. My issue is after stopping the service as well I receive data. Either there is another way to stop listening or there is a bug in the library. I have posted the code here.

    class SocketForSecurityAgents : IntentService(SocketForSecurityAgents::java

[2019-04-01 13:37] 7u15 opened #48 "perMessageDeflate no work in Android"
// Android works // Web Works
perMessageDeflate: false

// Android does not work // Web works
perMessageDeflate: perMessageDeflate: {
    zlibDeflateOptions: {
      chunkSize: 1024,
      memLevel: 7,
      level: 3
    },
    zlibInflateOptions: {
      chunkSize: 10 * 1024
    }
}

help

[2019-05-13 22:36] 7u15 opened #49 "RFC 7692 permessage-deflate incompatible Android"
When this comprehension method is activated, the emit does not reach the android

[2019-05-13 22:38] #48 closed

[2019-06-27 06:32] Risingmobi opened #50 "SocketCluster does not receive messages sent to channel"
Hi. I am using OkHttp branch of SocketCluser. I have faced some very strange issue. I am launching Socket. In  io.github.sac.BasicListener callback I am able to see that my connection is established and it is successful. The I am registering channel and subscribing to it. And here comes this issues. I am able to receive only two or three events, that were sent to the channel. And after that I am n

[2019-08-29 11:04] AnkitPat commented on #38
hello @sacOO7

How to set multiple option in your library.

I have option like this:

{
  hostname: 'chat.xxx.com',
  secure: true,
  port: 5001,
  rejectUnauthorized: false // Only necessary during debug if using a self-signed certificate
}

[2019-09-12 09:25] dan-kimani opened #51 "Socket options similar to js client"
Docs have not specified how to pass other options, similar to what js client does. The only specified option is url, would like to pass options like below in js client.
[code]

[2019-12-26 03:39] vtn1508 opened #52 "WebSocket sendText on a null object reference"
![Capture](https://user-images.githubusercontent.com/57479477/71456359-a3e8aa80-27cb-11ea-8be1-c695fd8e25ac.PNG)

Sorry because of my English
My app was crashed only  in the **first times** install app because of this bug But after that it's run normally
And i don't use com.neovisionaries.ws.client.WebSocket.sendText anywhere
Please help me  !

[2019-12-26 06:23] #52 closed

[2019-12-26 10:39] sachinsh76 commented on #52
Why did u close it?

[2020-04-22 10:32] yasirtahir commented on #43
I'm facing the same issue. The socket is working fine on Emulator but it's not working on real device. Can someone please comment if the issue is fixed?

[2020-04-22 10:44] sacOO7 commented on #43
Will you able to reproduce the issue? Or put log messages for the same
here..

On Wed, Apr 22, 2020, 16:02 Yasir Tahir <notifications@github.com> wrote:

[2020-04-22 10:52] yasirtahir commented on #43
I'm testing the latest implementation on Emulator and it's working fine. But when I'm sending the complied APK to testing team, the socket updates aren't coming. Unfortunately, I don't have any real device with me at the moment to inspect the issue in detail with logs.

[2020-04-22 10:58] sacOO7 commented on #43
Ohh.. okay.. I will look into it... But if you get logs or detailed
description of the error... It will be super useful to me 🙂

On Wed, Apr 22, 2020, 16:22 Yasir Tahir <notifications@github.com> wrote:

[2020-07-29 09:10] #32 closed

[2020-08-21 04:09] mukashivn opened #53 "Socket don't have Receiver like js client"
- On JS client can receiver thru
 (async () => {
           for await (let data of socket.receiver('AAA')) {
                console.log(data);
            }
        })();
But I can't find a similar function on client JAVA.

[2021-09-13 13:49] varghesevisal opened #54 "Please add mavencentral support, jcenter will no longer be used."

[2021-09-15 22:52] varghesevisal commented on #54
Any update on this?

[2021-12-02 11:09] vishalkumarsinghvi commented on #54
Any solution how to use this library for android app implementation.I am not able use this library

[2021-12-22 11:44] sandipsavani2009 opened #55 "Could not HEAD 'https://jitpack.io/io/github/sac/SocketclusterClientJava/1.7.5/SocketclusterClientJava-1.7.5.pom'. Received status code 401 from server: Unauthorized"
Facing Unauthorised issue again. Same link asking for credentials too.

NOTE: A very high priority for support of mavenCentral() [ or any other repo provider] require as jcenter() near to shutdown. Already stuck in migrating project due to this lib not migrated to other repo. Please do support this.
Also, Not able to get libs too from provided link.

[2022-07-20 20:46] Mukund2900 opened #58 "Unable to use getChannelByName function"
The function is always returning null. Created a pr for the same please look into it. If you wish to merge please do.
[](https://github.com/sacOO7/socketcluster-client-java/pull/57/files)

[2022-07-20 20:46] Mukund2900 commented on #58
[sacOO7/socketcluster-client-java#57](https://github.com/sacOO7/socketcluster-client-java/pull/57)